/* ===== PAGE ===== */
/* ===== BLOCK ===== */

.services-hero {
  height: 80vh;
  background: url("https://images.unsplash.com/photo-1600607687939-ce8a6c25118c")
    center/cover no-repeat;
}


.services-overlay {
  background: rgba(0,0,0,0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.services-overlay h1 {
  font-size: 3rem;
}




.service-block {
  padding: 20px 20px;
}

.service-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 40px;
  align-items: center;
}
.service-container-second{
    max-width: 1100px;
    padding: 10px;
  margin: auto;
  display: flex;
  gap: 40px;
  align-items: center;
  background: linear-gradient(120deg, #ececed, #d0d0d1);
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  color: #070707;
}


.service-container-third{
    max-width: 1100px;
    padding: 10px;
  margin: auto;
  display: flex;
  gap: 40px;
  align-items: center;
  background: linear-gradient(120deg, #ececed, #d0d0d1);
  border-top-left-radius: 100px;
  color: #0c0c0c;
}

/* Reverse */
.service-block.reverse .service-container {
  flex-direction: row-reverse;
}

/* IMAGE */
.service-img img {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  transition: 0.4s;
}

.service-img img:hover {
  transform: scale(1.05);
}

/* TEXT */
.service-text {
  flex: 1;
}

.service-text h2 {
  color: #070707;
  margin-bottom: 10px;
}

.service-text p {
  margin-bottom: 12px;
  color: #767575;
  line-height: 1.6;
}

.service-text ul li {
  margin-bottom: 6px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .service-container {
    flex-direction: column;
    text-align: center;
  }

  .service-block.reverse .service-container {
    flex-direction: column;
  }
}